BODY {
	FONT-SIZE: 9pt; MARGIN: 0px; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #9c9c9c
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 6pt 0pt; COLOR: #3979b7; FONT-FAMILY: 'Trebuchet MS', Arial, Helvetica, sans-serif
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 6pt 0pt; COLOR: #3979b7; FONT-FAMILY: 'Trebuchet MS', Arial, Helvetica, sans-serif
}
H3 {
	FONT-SIZE: 11pt; MARGIN: 6pt 0pt; COLOR: #3979b7; FONT-STYLE: italic; FONT-FAMILY: 'Trebuchet MS', Arial, Helvetica, sans-serif
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 6pt 0pt; COLOR: #3979b7; FONT-FAMILY: 'Trebuchet MS', Arial, Helvetica, sans-serif
}
H5 {
	FONT-SIZE: 10pt; MARGIN: 0pt 0pt 6pt; COLOR: #3979b7; FONT-STYLE: italic; FONT-FAMILY: 'Trebuchet MS', Arial, Helvetica, sans-serif
}
P {
	CLEAR: both; FONT-SIZE: 9pt; MARGIN: 0pt 0pt 6pt; COLOR: #424242; LINE-HEIGHT: 150%
}
UL {
	
}
LI {
	LIST-STYLE-POSITION: outside; FONT-SIZE: 9pt; LIST-STYLE-TYPE: none
}
TD {
	FONT-SIZE: 9pt; LINE-HEIGHT: 1.3
}
A:link {
	COLOR: #549bd3; TEXT-DECORATION: none
}
A:visited {
	COLOR: #549bd3; TEXT-DECORATION: none
}
A:hover {
	COLOR: #aaaaaa; TEXT-DECORATION: underline
}
A:active {
	COLOR: #aaaaaa; TEXT-DECORATION: underline
}
.small {
	FONT-SIZE: 8pt
}
UL.News {
	PADDING-RIGHT: 0px; MARGIN-TOP: 0px; PADDING-LEFT: 0px; FONT-SIZE: 8pt; PADDING-BOTTOM: 0px; MARGIN-LEFT: 0px; PADDING-TOP: 0px
}
LI.folder {
	PADDING-RIGHT: 30px; LIST-STYLE-IMAGE: url(../images/fld.gif)
}
LI.subfolder {
	LIST-STYLE-IMAGE: url(../images/sfld.gif)
}
TABLE.tbSearch {
	BORDER-RIGHT: #adadad 1px solid; BORDER-TOP: #adadad 1px solid; BORDER-LEFT: #adadad 1px solid; BORDER-BOTTOM: #adadad 1px solid; BACKGROUND-COLOR: #f7f9fd
}
A.global:link {
	FONT-SIZE: 8pt; MARGIN-LEFT: 5px; COLOR: white; MARGIN-RIGHT: 4px; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
A.global:visited {
	FONT-SIZE: 8pt; MARGIN-LEFT: 5px; COLOR: white; MARGIN-RIGHT: 4px; LETTER-SPACING: 0.1em; TEXT-DECORATION: none
}
A.global:hover {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
A.global:active {
	COLOR: #cccccc; TEXT-DECORATION: underline
}
A.Content:link {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.Content:visited {
	FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.Content:hover {
	TEXT-DECORATION: underline
}
A.Content:active {
	TEXT-DECORATION: underline
}
DIV.divHelpTopic A {
	FONT: 8pt Tahoma; COLOR: #00599c; TEXT-DECORATION: none
}
DIV.divHelpTopic A:visited {
	FONT: 8pt Tahoma; COLOR: #00599c; TEXT-DECORATION: none
}
DIV.divHelpTopic P {
	FONT: 8pt Tahoma
}
DIV.divHelpTopic LI {
	FONT: 8pt Tahoma
}
DIV.divHelpTopic DT {
	FONT: bold 8pt Tahoma
}
DIV.divHelpTopic DD {
	FONT: 8pt Tahoma; MARGIN-LEFT: 10px
}
DIV.divHelpTopic TABLE {
	FONT: 8pt Tahoma; BORDER-LEFT: black 1pt solid; BORDER-BOTTOM: black 1pt solid
}
DIV.divHelpTopic TD {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT: 8pt Tahoma
}
DIV.divHelpTopic TH {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT: 8pt Tahoma
}
DIV.divHelpTopic H3 {
	FONT: bold 10pt Tahoma; COLOR: black
}
DIV.divHelpTopic H4 {
	FONT: bold 9pt Tahoma; COLOR: black
}
DIV.divHelpTopic .backlink {
	BORDER-TOP: silver 1px solid; MARGIN-TOP: 25px; FONT-SIZE: 8pt
}
DIV.divHelpTopic .tipbox {
	PADDING-LEFT: 4px; BORDER-LEFT: #00599c 3px solid
}
DIV.divHelpTopic .notebox {
	PADDING-LEFT: 4px; BORDER-LEFT: #008000 3px solid
}
DIV.divHelpTopic .warningbox {
	PADDING-LEFT: 4px; BORDER-LEFT: #800000 3px solid
}
DIV.divHelpTopic .seealsobox {
	MARGIN-TOP: 25px
}
DIV.divHelpTopic .importantbox {
	PADDING-LEFT: 4px; BORDER-LEFT: #ffb000 3px solid
}
DIV.divHelpTopic LI {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: square
}
DIV.divHelpTopic TABLE {
	MARGIN-BOTTOM: 15px
}
.divForenOld .top {
	BACKGROUND: #a7cce9
}
.divForenOld .line0 {
	BACKGROUND: #f0f0f0
}
.divForenOld .line1 {
	BACKGROUND: #e0e0e0
}
.divForenOld .line2 {
	BACKGROUND: #d7e8f5
}
DIV.reseller {
	BORDER-RIGHT: #f0f0f0 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #f0f0f0 1px solid; PADDING-LEFT: 10px; MARGIN-BOTTOM: 30px; PADDING-BOTTOM: 10px; BORDER-LEFT: #f0f0f0 1px solid; WIDTH: 50%; PADDING-TOP: 10px; BORDER-BOTTOM: #f0f0f0 1px solid
}
